[Unit]
Description=Run Polybot On-chain Alchemy indexer hourly

[Timer]
OnCalendar=hourly
RandomizedDelaySec=600
Persistent=true

[Install]
WantedBy=timers.target
